<!DOCTYPE html>
<html lang="en">
<head>
    <title>Furama Resort</title>
    <link rel="icon" href="img/logo.png">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>

</head>
<body background="img/bg.jpg">
<div class="container-fluid" >
    <div class="row">
        <div class="col-lg-2">
            <img class="w-25 m-3" src="images\logo.png" alt="logo" >
        </div>
        <div class="col-lg-8"></div>
        <div class="col-lg-2 pt-lg-5">
            <a href="?action=logout">Log out</a>
        </div>
    </div>
</div>
<div class="container-fluid" >
    <div class="row " style="background: #7abaff">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Home</a>
                    <a class="navbar-brand" href="/employee">Employee</a>
                    <a class="navbar-brand" href="/customer">Customer</a>
                    <a class="navbar-brand" href="/service">Service</a>
                    <a class="navbar-brand" href="/contract">Contract</a>
                    <a class="navbar-brand" href="/showAll">Customer Use Service</a>
                </div>
            </nav>
        </div>

    </div>
</div>
<script src="/bootstrap/jquery-3.6.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>