<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">BirthDay</th>
    <th scope="col">CMND</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th scope="col">Address</th>
    <th scope="col">Option</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let array of listCustomer">
    <th scope="row">{{array.idCustomer}}</th>
    <td>{{array.name|titlecase}}</td>
    <td>{{array.birthday}}</td>
    <td>{{array.idCard}}</td>
    <td>{{array.email}}</td>
    <td>{{array.phone}}</td>
    <td>{{array.address}}</td>
    <td>
      <button class="btn badge-warning m-2" [routerLink]="['/detailCustomer', array.idCustomer]">Detail</button>
      <button class="btn badge-warning m-2" [routerLink]="['/editCustomer', array.idCustomer]">Edit</button>
      <button class="btn badge-danger"[routerLink]="['/detailCustomer', array.idCustomer]">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
