<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div align="center">
      <table class="table" >

        <tr>
          <td>ID Customer</td>
          <td>{{customerInfor.idCustomer}}</td>
        </tr>
        <tr>
          <td>Name Customer</td>
          <td>{{customerInfor.name}}</td>
        </tr>
        <tr>
          <td>Birth Day</td>
          <td>{{customerInfor.birthday}}</td>
        </tr>
        <tr>
          <td>ID Card</td>
          <td>{{customerInfor.idCard}}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{customerInfor.phone}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{customerInfor.email}}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{customerInfor.address}}</td>
        </tr>

      </table>
    </div>
  </div>
  <div class="col-2"></div>
</div>

