<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<th:block th:include="fragments/nav"></th:block>
<div align="center">
    <form method="post" th:action="@{/editCustomer}" th:object="${customer}">
        <table class="table">
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{id}"></td>
                <td><div style="color: red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input th:field="*{name}"></td>
                <td><div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div></td>
            </tr>
            <tr>
                <td>Birthday:</td>
                <td><input th:field="*{dateOfBirth}"></td>
                <td><div style="color: red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></div></td>
            </tr>
            <tr>
                <td>Cmnd:</td>
                <td><input th:field="*{idCard}"></td>
                <td><div style="color: red" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></div></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td><input th:field="*{gender}"></td>
                <td><div style="color: red" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input th:field="*{phoneNumber}"></td>
                <td><div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input th:field="*{email}"></td>
                <td><div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input th:field="*{address}"></td>
                <td><div style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div></td>
            </tr>
            <tr>
                <td>Customer Type:</td>
                <td><select th:field="*{customerType}">
                    <option th:each="types: ${type}" th:value="${types.id}"
                            th:text="${types.name}"></option>
                </select></td>
                <td><div style="color: red" th:if="${#fields.hasErrors('customerType')}" th:errors="*{customerType}"></div></td>
            </tr>

        </table>
        <input type="submit" value="Edit">
    </form>
</div>
<script src="/bootstrap/jquery-3.6.0.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>