#c1-text {
    text-indent: 20px;
}
.h1-tieude{ margin: 0 auto;
    width: 250px;
    border: 10px;
    padding: 10px;
    border-color: chartreuse aqua blue blueviolet;
    border-style: solid;
    text-align: center;

}
.text-first{
    text-indent: 20px;
}
#div-mucluc{
   position: fixed;
    top: 75px;
    left: 10px;
    width: 150px;
    border: 3px solid #73AD21;
    background: url(image/giphy.gif);
}
#div-center{
    margin-left: 200px;
    margin-right: 200px;

}
a:hover{
    background: bisque;
}
#image1{
   margin-left: 422px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    width: 500px;
    height: 500px;
}
.div-tacgia{
    margin: 0 auto;
    width: 800px;
    border: 10px;
    padding: 10px;
    border-color: chartreuse aqua blue blueviolet;
    border-style: solid;
}
body {
    background-color: lightgreen;
}

@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}