<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <h1 class="text-center text-primary">Xem Nhân Viên</h1>
    <div align="center">
      <form class="form-group" [formGroup]="viewEmployeeForm">
        <div class="form-group row">
          <label for="idCs" class="col-2">ID <span class="text-danger">*</span></label>
          <input class="form-control col-10 " id="idCs" formControlName="id">
        </div>
        <div class="form-group row">
          <label for="name" class="col-2">Họ Tên <span class="text-danger">*</span></label>
          <input class="form-control col-10 " id="name" formControlName="name">
        </div>
        <div class="form-group row">
          <label for="idCard" class="col-2">CMND <span class="text-danger">*</span></label>
          <input class="form-control col-10 " id="idCard" formControlName="idCard">
        </div>
        <div class="form-group row">
          <label for="salary" class="col-2">Lương <span class="text-danger">*</span></label>
          <input class="form-control col-10 " id="salary" formControlName="salary">
        </div>
        <div class="form-group row">
          <label for="email" class="col-2">Email <span class="text-danger">*</span></label>
          <input class="form-control col-10 " id="email" formControlName="email">
        </div>
        <div class="form-group row">
          <label for="phoneNumber" class="col-2">Số Điện Thoại <span class="text-danger">*</span></label>
          <input class="form-control col-10 " id="phoneNumber" formControlName="phone">
        </div>
        <div class="form-group row">
          <label for="address" class="col-2">Địa Chỉ <span class="text-danger">*</span></label>
          <input class="form-control col-10 " id="address" formControlName="address">
        </div>
        <div class="form-group row">
          <label for="dayOfBirth" class="col-2">Ngày Sinh <span class="text-danger">*</span></label>
          <input class="form-control col-10 " id="dayOfBirth" formControlName="birthday" type="date">
        </div>
        <div class="form-group row ">
          <label for="position" class="col-2">Vị Trí <span class="text-danger">*</span></label>
          <select formControlName="position" [compareWith]="compareFn" id="position" class="form-control col-10">
            <option *ngFor="let posObj of positionList" [ngValue]="posObj">{{posObj.name}}</option>
          </select>
        </div>
        <div class="form-group row ">
          <label for="educationDegree" class="col-2">Trình Độ <span class="text-danger">*</span></label>
          <select formControlName="education" [compareWith]="compareFn" id="educationDegree"
                  class="form-control col-10">
            <option *ngFor="let eduObj of educationList" [ngValue]="eduObj">{{eduObj.name}}</option>
          </select>
        </div>
        <div class="form-group row ">
          <label for="division" class="col-2">Bộ Phận <span class="text-danger">*</span></label>
          <select formControlName="division" [compareWith]="compareFn" id="division" class="form-control col-10">
            <option *ngFor="let division of divisonList" [ngValue]="division">{{division.name}}</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="col-2"></div>
</div>
