<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div align="center">
      <table class="table" >
        <tr>
          <td>ID Employee</td>
          <td>{{employeeInfor.id}}</td>
        </tr>
        <tr>
          <td>Name Employee</td>
          <td>{{employeeInfor.name}}</td>
        </tr>
        <tr>
          <td>Birth Day</td>
          <td>{{employeeInfor.birthday}}</td>
        </tr>
        <tr>
          <td>ID Card</td>
          <td>{{employeeInfor.idCard}}</td>
        </tr>
        <tr>
          <td>Salary</td>
          <td>{{employeeInfor.salary}}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{employeeInfor.phone}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{employeeInfor.email}}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{employeeInfor.address}}</td>
        </tr>
        <tr>
          <td>Position</td>
          <td>{{employeeInfor.position}}</td>
        </tr>
        <tr>
          <td>Education</td>
          <td>{{employeeInfor.education}}</td>
        </tr>
        <tr>
          <td>Division</td>
          <td>{{employeeInfor.division}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-2"></div>
</div>
