<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <h1 class="text-center text-danger">Sửa Nhân Viên</h1>
    <form class="form-group" [formGroup]="editEmployee" (ngSubmit)="submitEdit()" >
      <div class="form-group">
        <label for="id">Id Employee </label>
        <input type="text" class="form-control" id="id"  formControlName="id" readonly>
        <div class="alert alert-danger" *ngIf="editEmployee.get('id')?.invalid && editEmployee.get('id')?.touched &&
             editEmployee.get('id')?.errors?.required">ID Không được để trống</div>
      </div>
      <div class="form-group">
        <label for="name">Name </label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <div class="alert alert-danger" *ngIf="editEmployee.get('name')?.invalid && editEmployee.get('name')?.touched &&
             editEmployee.get('name')?.errors?.required">Name Không được để trống</div>
      </div>
      <div class="form-group">
        <label for="Birthday">Birthday </label>
        <input type="date" class="form-control" id="Birthday" formControlName="birthday">
        <div class="alert alert-danger" *ngIf="editEmployee.get('birthday')?.invalid && editEmployee.get('birthday')?.touched &&
             editEmployee.get('birthday')?.errors?.required">Birthday Không được để trống</div>
      </div>
      <div class="form-group">
        <label for="IDCard">ID Card </label>
        <input type="text" class="form-control" id="IDCard" formControlName="idCard">
        <div class="alert alert-danger" *ngIf="editEmployee.get('idCard')?.invalid && editEmployee.get('idCard')?.touched &&
             editEmployee.get('idCard')?.errors?.required">IDCard Không được để trống</div>
      </div>
      <div class="form-group">
        <label for="Salary">Salary </label>
        <input type="text" class="form-control" id="Salary" formControlName="salary">
        <div class="alert alert-danger" *ngIf="editEmployee.get('salary')?.invalid && editEmployee.get('salary')?.touched &&
             editEmployee.get('salary')?.errors?.required">Salary Không được để trống</div>
      </div>
      <div class="form-group">
        <label for="Phone">Phone </label>
        <input type="text" class="form-control" id="Phone" formControlName="phone">
        <div class="alert alert-danger" *ngIf="editEmployee.get('phone')?.invalid && editEmployee.get('phone')?.touched &&
             editEmployee.get('id')?.errors?.required">Phone Không được để trống</div>
      </div>
      <div class="form-group">
        <label for="Email">Email </label>
        <input type="text" class="form-control" id="Email" formControlName="email">
        <div class="alert alert-danger" *ngIf="editEmployee.get('email')?.invalid && editEmployee.get('email')?.touched &&
             editEmployee.get('email')?.errors?.required">Email Không được để trống</div>
      </div>
      <div class="form-group">
        <label for="Address">Address </label>
        <input type="text" class="form-control" id="Address" formControlName="address">
        <div class="alert alert-danger" *ngIf="editEmployee.get('address')?.invalid && editEmployee.get('address')?.touched &&
             editEmployee.get('address')?.errors?.required">Address Không được để trống</div>
      </div>
      <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
  </div>
  <div class="col-2"></div>
</div>
