* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 10px;
}
/*<= 768*/
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}
body{
    background-color: bisque;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
.head_left{
    width: 120px;
    height: 105px;
    background-color: whitesmoke;
}
.center_menu{
    margin-left: 90px;
}
.head_link{
    margin-top: 135px;
    text-align: center;
}

.link_s{
    margin-left: 25px;
    text-decoration: none;
    text-align: center;
}

.content{
    background-color: black;
}
.bar{
    width: 100%;
    left: 0px;
    position: fixed;
    top: 0;
    margin-bottom: 25px;
}
.head_right{
    float: left;
    margin-left: 150px;
    border-radius: 20px;
    margin-top: 27px;
    width: 400px;
    height: 40px;
    background-color: bisque;
    outline: none;
}
.head_right:hover{
    box-shadow: 1px 1px 2px 2px red;
}
.head_p{
    float: left;
    margin-left: 30px;
    margin-top: 25px;
}
.head{

    background-color: whitesmoke;
    border: solid gray;
}
.menu, .menu ul, .menu li{
    padding: 0;
    margin: 0;
}
.menu{
    float: left;
    margin-top: 27px;
}
.menu li{
    border-radius: 20px;
    list-style: none;
    position: relative;
    width: 100px;
    height: 30px;
    padding:0 20px;
    background-color: palegoldenrod;
    line-height: 30px;
    cursor:pointer;
}
.menu li a{
    text-decoration:none;
    color: black;
}
.menu li:hover{
    background-color:lavender;
}
.btn_fb{
    margin-top: 30px;
}

#btn_fb{

    float: left;
    width: 25px;
    outline: none;
}
#btn_gg{
    float: left;
    width: 25px;
    outline: none;
}
.menu ul ul{
    position: absolute;
    top:30px;

    visibility:hidden;
}

.menu ul li:hover ul{
    visibility:visible;
}
a{
    width: 255px;
}
.conten_li{
    width: 255px
}
.left{
    margin-left: 0px;
    margin-right: 0px;
    float: left;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.size_div{
    width: 250px;
    height: 250px;
}
.smcp:hover{
    color: blue;
}
.smcp{
    margin-top: 55px;
    text-align: center;
}
